@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --background: hsl(240, 9%, 2%);
}

* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--background);
}
