@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* General */
:root {
  --background-1: hsl(240, 9%, 1%);
  --background-2: hsl(240, 9%, 2%);
  --background-3: hsl(240, 9%, 3%);
  --background-4: hsl(240, 10%, 4%);
  --background-5: hsl(240, 10%, 5%);
  --background-10: hsl(240, 10%, 10%);
  --background-20: hsl(240, 10%, 20%);
  --font: hsl(0, 0%, 86%);
  --font-translucent: hsl(0, 0%, 86%, 0.75);
  --primary: hsl(136, 62%, 23%);
  --primary-hover: hsl(136, 62%, 24%);
  --secondary: hsl(136, 62%, 10%);
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  color: var(--font);
}

body {
  background-color: var(--background-2);
  margin: 0;
  overflow-x: hidden;
}

p,
h1,
h2,
h3 {
  margin: 0;
  text-shadow: 0 4px 2px rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-1);
}

::-webkit-scrollbar-thumb {
  background: var(--background-10);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--background-20);
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.button-normal,
.button-outline {
  background-color: var(--primary);
  position: relative;
  border: none;
  border-radius: 9999px;
  padding: 8px 16px;
  font-size: 1.25rem;
  cursor: pointer;
  overflow: hidden;
  transition: ease-out 0.125s;
  box-shadow: 0px 2px 4px 0px #00000075;

  &:hover {
    box-shadow: 0px 5px 10px 3px #00000075;
    transform: translateY(-1px);
  }

  &:active {
    transition: 0.1s;
    opacity: 0.8;
    transform: translateY(0);
  }
}

.button-normal {
  &:hover {
    background-color: var(--primary-hover);
  }
}

.button-outline {
  background-color: transparent;
  border: 2px solid var(--primary);
}

/* Hero Section and Call To Action Section */
.hero-section,
.call-to-action-section {
  display: flex;
  min-height: 520px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: inset 0px 50px 100px var(--background-2), inset 0px -50px 100px var(--background-2);
}

.hero-section {
  background-image: url("Images/Store1.png");
}

.call-to-action-section {
  background-image: url("Images/Store2.png");
}

nav {
  position: absolute;
  top: 8px;
  width: 100%;
  padding-inline: 8px;
  animation: fade-up 0.5s;
}

nav a {
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

nav a * {
  transition: ease-out 0.2s;
}

nav a:hover * {
  opacity: 0.66;
}

nav a img {
  width: 3.5rem;
  opacity: 0.5;
}

nav a h1 {
  opacity: 0.5;
  font-weight: bold;
  font-size: 1.3rem;
}

.hero-action,
.call-to-action-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-action {
  & > :nth-child(1) {
    animation: fade-up 0.5s 0.1s both;
  }
  & > :nth-child(2) {
    animation: fade-up 0.5s 0.2s both;
  }
  & > :nth-child(3) {
    animation: fade-up 0.5s 0.3s both;
  }
}

.call-to-action-main > * {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.3s;
}

.call-to-action-main.anim-start {
  & > * {
    opacity: 1;
    transform: translateY(0px);
  }
  & > :nth-child(1) {
    transition-delay: 0.1s;
  }
  & > :nth-child(2) {
    transition-delay: 0.2s;
  }
  & > :nth-child(3) {
    transition-delay: 0.3s;
  }
}

.hero-action h2,
.call-to-action-main h2 {
  text-align: center;
  font-size: 2.25rem;
  opacity: 0;
}

.hero-action h2 {
  font-size: 2.25rem;
}

.call-to-action-main h2 {
  font-size: 2.75rem;
}

.hero-action p,
.call-to-action-main p {
  margin: 12px 0;
  text-align: center;
  font-weight: 300;
  color: var(--font-translucent);
  width: clamp(200px, 70vw, 625px);
  opacity: 0;
}

.call-to-action-main p {
  font-size: 1.5rem;
}

.hero-buttons-div {
  opacity: 0;
}

@media (max-width: 640px) {
  .hero-action h2 {
    font-size: 1.75rem !important;
  }

  .call-to-action-main h2 {
    font-size: 2.25rem !important;
  }
}

/* Need Section */
.description-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 3rem;
  gap: 16px;

  background-image: linear-gradient(
    to right,
    var(--background-2) 0%,
    var(--background-2) 80%,
    var(--background-3) 95%,
    var(--background-3) 100%
  );

  &:nth-of-type(odd) {
    flex-direction: row-reverse;
    box-shadow: inset 0 10px 40px var(--background-2);
    background-image: linear-gradient(
      to left,
      var(--background-3) 0%,
      var(--background-3) 80%,
      var(--background-4) 95%,
      var(--background-4) 100%
    );
  }
}

.description-section > .section-image {
  position: relative;
  min-width: 350px;
  min-height: 350px;
}

.description-section > .section-image img {
  position: absolute;
  opacity: 0;
  scale: 0.95;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-out;
  border-radius: 100px;
  box-shadow: 0px 0px 20px hsla(0, 0%, 10%, 0.5);
}

.description-section:nth-of-type(even) > .section-image img {
  left: -50px;
}

.description-section:nth-of-type(odd) > .section-image img {
  right: -50px;
}

.description-section.anim-start > .section-image img {
  opacity: 1;
  scale: 1;
}

.description-section:nth-of-type(even).anim-start > .section-image img {
  left: 0px;
}

.description-section:nth-of-type(odd).anim-start > .section-image img {
  right: 0px;
}

.description-section > .section-desc {
  width: clamp(200px, 75%, 600px);
  padding-inline: 1.5rem;
}

.description-section > .section-desc > * {
  opacity: 0;
  transform: translateY(20px);
  transition-duration: 0.5s;
}
.description-section > .section-desc > h3 {
  font-size: 2.25rem;
}
.description-section > .section-desc > p {
  color: var(--font-translucent);
  transition-delay: 0.075s;
}

.description-section:nth-child(odd) > .section-desc {
  text-align: right;
}
.description-section.anim-start > .section-desc > * {
  opacity: 1;
  transform: translateY(0px);
}

@media (max-width: 1024px) {
  .description-section {
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .description-section > .section-image {
    min-width: 275px;
    min-height: 275px;
  }
  .description-section > .section-desc > * {
    text-align: center;
  }
}

/* Why Us Section */
.why-us-section {
  background-image: url(Images/Snowy.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-block: 64px 128px;
  text-align: center;
  box-shadow: inset 0px 20px 40px 20px var(--background-3),
    inset 0px -20px 40px 20px var(--background-3);
}

.why-us-section h2 {
  font-size: 2.5rem;

  opacity: 0;
  transform: translateY(20px);
  transition: 0.2s;
}

.why-us-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-inline: 32px;
  gap: 32px;
}

.why-us-list li {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.why-us-list h3 {
  font-size: 1.75rem;

  opacity: 0;
  transform: translateY(20px);
  transition: 0.2s;
}
.why-us-section.anim-start .why-us-list li:nth-child(1) h3 {
  transition-delay: 0.075s;
}

.why-us-section.anim-start .why-us-list li:nth-child(2) h3 {
  transition-delay: 0.15s;
}

.why-us-section.anim-start .why-us-list li:nth-child(3) h3 {
  transition-delay: 0.225s;
}

.why-us-list p {
  font-size: 1.25rem;
  align-self: center;
  font-weight: 300;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.2s;
}

.why-us-section.anim-start .why-us-list li:nth-child(1) p {
  transition-delay: 0.1s;
}

.why-us-section.anim-start .why-us-list li:nth-child(2) p {
  transition-delay: 0.25s;
}

.why-us-section.anim-start .why-us-list li:nth-child(3) p {
  transition-delay: 0.3s;
}

.why-us-section.anim-start * {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 720px) {
  .why-us-list {
    flex-direction: column;
    gap: 2rem;
    padding-inline: 2rem;
  }
}
